* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.character-card {
  width: 240px;
  height: 244px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px #00000024;
}

.character-card-img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.char-name {
  font-family: "Roboto";
  margin: 0;
  margin-top: 12px;
  margin-left: 16px;
  margin-bottom: 1px;
}

.char-desr {
  font-family: "Roboto-Thin";
  margin: 0;
  margin-left: 16px;
}
