* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.character-card {
  width: 240px;
  height: 244px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px #00000024;
}

.card-image-container {
  width: 100%;
  height: 168px;
}

.character-card-img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  object-fit: cover;
  object-position: center;
}

.char-name {
  font-family: "Roboto";
  margin: 0;
  margin-top: 12px;
  margin-left: 16px;
  margin-bottom: 1px;
}

.char-desr {
  font-family: "Roboto-Thin";
  margin: 0;
  margin-left: 16px;
}

@media (max-width: 500px) {
  .character-card {
    width: 312px;
    height: 308px;
  }

  .character-card-img {
    width: 312px;
    height: 232px;
  }

    .char-name {
    margin-top: 80px;
  }
}
