.location-card {
  display: flex;
  width: 240px;
  height: 128px;
  border-radius: 4px;
  background-color: #fafafa;
  box-shadow: var(--shadow-down);
  /* flex-wrap: wrap; */
  flex-direction: column;
  padding: 38px 16px;
  align-items: center;
  justify-content: center;
}

.location-name {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  margin: 0;
  text-align: center;
}

.location-type {
  margin: 0;
  font-family: "Roboto-Thin", sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: #00000099;
}

@media (max-width: 500px) {
  .location-card {
    width: 312px;
    height: 128px;
    flex-direction: column;
  }
}
