.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1020px;
  margin: 0 auto;
  position: relative;
}

.hide-on-mobile {
  display: flex;
}

.main-logo {
  display: flex;
  width: 600px;
  height: 200px;
  margin: 26px auto 16px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 61px;
  flex-wrap: nowrap;
}

.form-input {
  font-family: "Roboto-Thin", sans-serif;
  height: 56px;
  width: 240px;
  border: 1px solid #00000061;
  border-radius: 8px;
  padding: 16px;
  padding-left: 48px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 19px;
  color: #00000099;
}

.form-input:hover {
  border: 2px solid black;
}

.search-logo {
  position: absolute;
  left: 16px;
  top: 16px;
  background-image: url("../assets/Leading\ Icon.svg");
  width: 24px;
  height: 24px;
  z-index: 20;
}

.form-select,
.form-select-modal {
  font-family: "Roboto-Thin", sans-serif;
  font-size: 16px;
  line-height: 19px;
  height: 56px;
  width: 240px;
  border: 1px solid #00000061;
  border-radius: 8px;
  padding: 18.5px 14px;
  color: #00000080;
  background-color: white;
  appearance: none;
}

.form-select:hover {
  border: 2px solid black;
}

.form-select:not(:last-child) {
  margin-right: 20px;
}

.form-select-modal {
  width: 281px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.modal-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 350px;
  height: 350px;
  border-radius: 8px;
  background-color: white;
  z-index: 10000;
  top: 300px;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-down);
}

.modal-window-header {
  margin-right: auto;
  margin-left: 35px;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #000000de;
}

.modal-apply-button {
  width: 281px;
  height: 36px;
  border: none;
  border-radius: 4px;
  background-color: #e3f2fd;
  box-shadow: var(--shadow-down);
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  color: #2196f3;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 48px;
  justify-content: flex-start;
}

.card-list-empty-alert {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 50px auto 0;
  min-height: 50vh;
}

@media (max-width: 1030px) {
  .wrapper {
    max-width: 760px;
  }

  .form {
    flex-wrap: wrap;
    gap: 20px 30px;
    margin-bottom: 50px;
  }

  .form-input {
    margin: 0;
  }

  .form-select:not(:last-child) {
    margin: 0;
  }

  .character-list {
    justify-content: flex-start;
  }
}

@media (max-width: 800px) {
  .wrapper {
    max-width: 500px;
  }

  .main-logo {
    width: 500px;
    height: 100px;
  }

  .form-input {
    width: 500px;
    margin: 0;
  }

  .form-select {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wrapper {
    flex-direction: column;
  }

  .form {
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
  }

  .form-input {
    max-width: 312px;
  }

  .form-list {
    margin: 0 auto;
    align-items: center;
  }

  .character-list {
    justify-content: center;
  }

  .card-list-empty-alert {
    min-height: 100vh;
  }
}
